@using PagedList
@using PagedList.Mvc
@model IPagedList<Film_Inceleme_V2.Models.Kullanici>
@{
    Layout = "~/Views/Shared/_YoneticiLayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anasayfa</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.21/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.21/datatables.min.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
        <h3>Kullanıcılar Listesi</h3>
        <table border="1" class="table">
            <tr>
                <td>Kullanıcı Adı</td>
                <td>Adı</td>
                <td>Soyadı</td>
                <td>E-posta</td>
                <td>Durumu</td>
                <td>Yetkisi</td>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                @if(item.Kullanici_Adi=="admin")
                {
                    continue;
                }
            <td>@item.Kullanici_Adi</td>
            <td>@item.Adi</td>
            <td>@item.Soyadi</td>
            <td>@item.E_Posta_Adresi</td>
            <td>@item.Durumu</td>
            <td>@item.Yetkilendirme.Yetkisi</td>

            <td>
                @if (item.Durumu == true)
                {
                    <div class="btn btn-danger">
                        @Html.ActionLink(
                        "SİL",
                        "KullaniciSil",

                             new { id = item.Kullanici_ID },
                        new { onclick = "return confirm('Silmek İstediğinize Emin Misiniz?');" }
                        )
                    </div>
                }
                else
                {
                    <div class="btn btn-success">
                        @Html.ActionLink(
                        "Aktif Et",
                        "KullaniciAktifEt",

                             new { id = item.Kullanici_ID }
                       
                        )
                    </div>
                }
            </td>
            <td>
                <div class="btn btn-success">
                    @Html.ActionLink(
                    "DÜZENLE",
                    "Kullanici_Duzenle",

                         new { id = item.Kullanici_ID }
                    )
                </div>
            </td>
        </tr>

            }
        </table>
        @Html.PagedListPager(Model, _sayfaNo => Url.Action("Anasayfa", "Yonetici", new { SayfaNo = _sayfaNo }))
        <div class="row ">
            <a href="~/Yonetici/YeniKullanici" class="text-monospace button btn-success col-md-12 rounded-bottom " style="text-align:center;">Yeni Kullanıcı</a>
        </div>
    <div></div>
</body>
</html>