@using PagedList
@using PagedList.Mvc

@model IPagedList<Film_Inceleme_V2.Models.Filmler>
@{
    ViewBag.Title = "Filmler";
    Layout = "~/Views/Shared/_YoneticiLayoutPage.cshtml";
}

<h3 class="h3">Filmler Listesi</h3>
    <table border="1" class="table table-striped">
        <tr>
            <th>Filmin Adı</th>
            <th>Filmin Türü</th>
            <th>Çekildiği Ülke</th>
            <th>Yapım Yılı</th>
            <th>Yönetmenin Adı</th>
            <th>IMDB Puanı</th>
            <th>Film Detayi</th>
            <th style="text-align:right;">Film Afişi</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var dene in Model)
        {
            <tr>
                <td>@dene.Film_Adi</td>
                <td>@dene.Film_Turu.Turu</td>
                <td>@dene.Ulkeler.Ulke</td>
                <td>@dene.Yapim_Yili.ToShortDateString()</td>
                <td>@dene.Yonetmenler.Adi @dene.Yonetmenler.Soyadi</td>
                <td>@dene.imdb</td>
                @if (dene.Film_Detayi.Length > 100)
                {
                    <td>@dene.Film_Detayi.Substring(0, 100) ...</td>
                }
                else
                {
                    <td>@dene.Film_Detayi</td>
                }

                <td><img style="width:auto; height:unset;" src="~/images/@dene.Resim" /></td>
                <td>
                    <div class="btn btn-danger">
                        @Html.ActionLink(
                        "SİL",
                        "Film_Sil",

                             new { id = dene.Film_ID },
                        new { onclick = "return confirm('Silmek İstediğinize Emin Misiniz?');" }
                        )
                    </div>
                </td>
                <td>
                    <div class="btn btn-success">
                        @Html.ActionLink(
                        "DÜZENLE",
                        "Film_Duzenle",

                             new { id = dene.Film_ID }
                        )
                    </div>
                </td>
                <td>
                    <div class="btn btn-success">
                        @Html.ActionLink(
                        "Oyuncu Ekle",
                        "FilmeOyuncuEkle",

                             new { FilmId = dene.Film_ID }
                        )
                    </div>
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, _sayfaNo => Url.Action("Filmler", "Yonetici", new { SayfaNo = _sayfaNo }))
    <div class="row ">
        <a href="~/Yonetici/YeniFilm" class="text-monospace btn btn-success col-md-12 rounded-bottom" style="text-align:center;">Yeni Film Ekle</a>
    </div>

