@model Film_Inceleme_V2.Models.Yonetmenler
@{
    ViewBag.Title = "YeniYonetmenEkle";
    Layout = "~/Views/Shared/_YoneticiLayoutPage.cshtml";
}

<h2>YeniYonetmenEkle</h2>

<style type="text/css">
    #formKapsayici {
        box-shadow: 0 0 5px gray;
        padding: 25px;
        height: 500px;
    }

    #divSol {
        float: left;
        margin-left: 25px;
    }

    #divSag {
        float: left;
        margin-left: 25px;
    }

    #divSol * {
        margin-top: 26px;
    }

    #divSag * {
        margin-top: 20px;
    }

    input[type="text"] {
        width: 250px;
    }


    #btnUyeOl {
        clear: both;
        display: block;
        margin-left: 195px;
        margin-top: 20px;
    }
</style>

@using (Html.BeginForm())
{
    <div id="divSol">
        @Html.LabelFor(i => Model.Adi)<br /><br />
        @Html.LabelFor(i => Model.Soyadi)<br /><br />
        @Html.LabelFor(i => Model.Dogum_Tarihi)<br /><br />


    </div>
    <div id="divSag">
        : @Html.TextBoxFor(i => Model.Adi)<br /><br />
        : @Html.TextBoxFor(i => Model.Soyadi)<br /><br />
        : @Html.TextBoxFor(i => Model.Dogum_Tarihi)<br /><br />

        <br />
        <input type="submit" value="YeniYonetmenEkle" id="btnUyeOl" />
    </div>

    @Html.ValidationSummary()
}