@using PagedList
@using PagedList.Mvc
@model IPagedList<Film_Inceleme_V2.Models.Yonetmenler>
@{
    ViewBag.Title = "YonetmenlerListesi";
    Layout = "~/Views/Shared/_YoneticiLayoutPage.cshtml";
}

<h2 class="h2">Yönetmenler Listesi</h2>

<table border="1" class="table pagenation">
    <tr>

        <td>Yönetmenin Adı</td>
        <td>Yönetmenin Soyadı</td>
        <td>Doğum Tarihi</td>
    </tr>
    @foreach (var dene in Model)
    {
        <tr>

            <td>@dene.Adi</td>
            <td>@dene.Soyadi</td>
            <td>@dene.Dogum_Tarihi.ToShortDateString()</td>
            <td>
                <div class="btn btn-danger">
                    @Html.ActionLink(
                    "SİL",
                    "Yonetmen_Sil",

                         new { id = dene.Yonetmenler_ID },
                    new { onclick = "return confirm('Silmek İstediğinize Emin Misiniz?');" }
                    )
                </div>
            </td>
            <td>
                <div class="btn btn-success">
                    @Html.ActionLink(
                    "DÜZENLE",
                    "Yonetmen_Duzenle",

                         new { id = dene.Yonetmenler_ID }
                    )
                </div>
            </td>

        </tr>
    }
</table>
@Html.PagedListPager(Model, _sayfaNo => Url.Action("YonetmenlerListesi", "Yonetici", new { SayfaNo = _sayfaNo }))
<div class="row ">
    <a href="~/Yonetici/YeniYonetmenEkle" class="text-monospace btn btn-success col-md-12 rounded-bottom " style="text-align:center;">Yeni Yönetmen Ekle</a>
</div>
<br />